/* styles.css */
body {
    
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-size: 5.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 5.2em;
    margin-bottom: 20px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  a:hover {
    background-color: #fff;
    color: #ffffff;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-top: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  